.color-picker {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: sans-serif;
}

.color-picker label {
  display: block;
  margin-bottom: 5px;
}

.color-picker input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

.color-preview {
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
}
